body {
    margin: 0;
    padding: 0;
    font-family: 'lato', 'arial', sans-serif;
    background: #bed5dc;
}

table{
    margin: 0 auto;
    background: #3f7b8c;
}
td {
    
    background: #9fccd9;
    padding: 3px;
    border: 1px solid #666;
    margin: 0 auto;
    
}

.btn {
    text-align: center;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.wraper {
        margin: 0 auto;
        width: 70%;
        text-align: center;
}

form {
    background: #99d3e4;
}

#plansza {
        text-align: center;
        margin: 8px;
        
    
}

#btnNgame {
    margin: 4px 8px;
}

.safeArea {
    background: #5abad5;
    
}
.value, .info{
    
    text-align:left;
    display:inline-block;
    padding: 2px 4px 2px 4px;
    
    

}
.value{
    background: white;
    border: 1px solid #666;
    margin-right: 3%;
    width:5%;
    
}

#gameStatistics{
    display:inline-block;
    width: 100%;
    padding: 8px 0px 8px 0px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #666;
    background: #99d3e4;
}